@media (max-width: 385px) {
  .heading {
    font-size: 44px !important;
    line-height: 61px !important;
  }
}

@media (max-width: 355px) {
  .heading {
    font-size: 40px !important;
    line-height: 57px !important;
  }
}

@media (max-width: 325px) {
  .heading {
    font-size: 36px !important;
    line-height: 51px !important;
  }
}
